//- Argument1
mj-section(background-color="#f1f1f1" padding="0 20px")
    mj-column
        mj-image(padding="0" width="610px" height="1px" src="https://i.ibb.co/R6S0d69/divider.png")/
        mj-text(mj-class="h2" padding-top="20px" padding-bottom="20px") Tous les #[span(class="pc") avantages Culture]
mj-section(background-color="#f1f1f1" padding="0 20px")
    mj-column(width="23.5%")
        mj-text(mj-class="Parg-1") Le titre culture est #[span(class="pc") 100%] exonéré
    mj-column(width="2%")
        mj-image(mj-class="tv" css-class="tv" src="https://i.ibb.co/GCVhbcQ/divider-vertical.png")/
    mj-column(width="23.5%")
        mj-text(mj-class="Parg-1") Dotation possible #[span(class="pc") hors d'événement] URSSAF
    mj-column(width="2%")
        mj-image(mj-class="tv" css-class="tv" src="https://i.ibb.co/GCVhbcQ/divider-vertical.png")/
    mj-column(width="23.5%")
        mj-text(mj-class="Parg-1") #[span(class="pc") + de 9000 sites et boutiques] culturelles partout en France
    mj-column(width="2%")
        mj-image(mj-class="tv" css-class="tv" src="https://i.ibb.co/GCVhbcQ/divider-vertical.png")/
    mj-column(width="23.5%")
        mj-text(mj-class="Parg-1") la durée de validité du titre culture est de #[span(class="pc") 1 an]
mj-section(background-color="#f1f1f1" padding="20px")
    mj-column
        mj-image(padding="0" width="610px" height="1px" src="https://i.ibb.co/R6S0d69/divider.png")/
mj-section(background-color="#f1f1f1" padding="0 20px")
    mj-column(width="32%")
        mj-text(mj-class="Parg-2") Le titre est utilisable #[span(class="pc") 7 jours/7] avec votre carte UpOne
    mj-column(width="2%")
        mj-image(mj-class="tv" css-class="tv" src="https://i.ibb.co/GCVhbcQ/divider-vertical.png")/
    mj-column(width="32%")
        mj-text(mj-class="Parg-2") #[span(class="pc") Pas d'obligation de participation] de l'employé
    mj-column(width="2%")
        mj-image(mj-class="tv" css-class="tv" src="https://i.ibb.co/GCVhbcQ/divider-vertical.png")/
    mj-column(width="32%")
        mj-text(mj-class="Parg-2") #[span(class="pc") Pas de limite] de montant
mj-section(background-color="#f1f1f1" padding="0 20px")
    mj-column
        mj-text(mj-class="h2" padding="20px 0 0 0") Convaincu par #[span(class="pc") le Titre Culture ?]
        mj-text(mj-class="h2" padding="0") Offrez 100% de plaisir à vos bénéficiaires !
        mj-button(align='center') Demandez un devis&nbsp; #[i(class="fa-solid fa-arrow-right" style="font-family:FontAwesome;color:#ffffff;vertical-align:middle;")]
    