//-Argument 2
mj-section(background-color="#f1f1f1" padding="10px 20px 20px 20px")
    mj-column
        mj-image(padding="0" width="610px" height="1px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider.png")/
mj-section(background-color="#f1f1f1" padding="0 20px" )
    mj-column(padding="0 40px")
        mj-text(mj-class="h2") UpOne, la #[span(class="pc") seule carte physique & virtuelle] pour dépenser tous les avantages
mj-section(background-color="#f1f1f1" padding="0 20px")
    mj-column
        mj-image(width="177px" src="https://i.ibb.co/0G94Xgy/Up-05.jpg" alt="")
    mj-column
        mj-image(width="177px" src="https://i.ibb.co/mcCKTpm/Up-07.jpg" alt="")
    mj-column
        mj-image(width="177px" src="https://i.ibb.co/myFBz9p/Up-09.jpg" alt="")
mj-section(background-color='#f1f1f1' padding="0 20px")
    mj-column
        mj-image(width="177px" src="https://i.ibb.co/njW54QZ/Up-14.jpg" alt="")
    mj-column
        mj-image(width="177px" src="https://i.ibb.co/bs1zLdC/Up-17.jpg" alt="")/
    mj-column
        mj-image(width="177px" src="https://i.ibb.co/Wyp3gTb/Up-18.jpg" alt="")/
mj-section(padding="0" background-color="#f1f1f1" background-url="https://i.ibb.co/GFxhMYd/back-22.jpg" background-size="cover" background-repeat="no-repeat")
    mj-column
        mj-button(align="center") Decouvrez maintenant&nbsp; #[span(class="material-symbols-outlined" style="font-family:Material Symbols Outlined;color:#ffffff;vertical-align:middle;") arrow_forward]
        mj-image(align="center" padding="0" width="383px" src="https://i.ibb.co/8rVGnB0/carte.png" alt="Cartes bancaires")