mj-section
    mj-column
        mj-button(href="#" color="white" background-color="#F45E43" border-radius="20px" line-height="24px")
            img(src="https://mjml.io/assets/img/mjml-logo.png" style="width:24px; vertical-align:middle;")/ &nbsp;Download MJML !