
//-Footer
mj-section(full-width="full-width" background-color="#ffffff" padding="10px 0 20px 0" )
    mj-column
        mj-text(mj-class="ps2" ) Ce message vous est adressé par Altares pour vous présenter les services de son client.
        mj-text(mj-class="ps2") Plus de détails sur l'envoi de cet email et nos engagements sont accessibles par ce lien.
        mj-text(mj-class="ps2") Si vous souhaitez stopper la réception des emails d'Altares pour ce client, suivez ce lien, ou la réception de tous nos envois, suivez cet autre lien.