extends templates/_layout
//- content
block content
    mj-section(full-width="full-width" background-color="#ffffff")
        mj-column
            mj-text(mj-class="ps1") Offrez un accès à la culture à tous vos salariés !
            mj-text(mj-class="ps1") Voir la version en ligne | Ajouter au carnet d'adresses | Retirer de la liste de diffusion contact@ecosup-sante.fr
    //- Header Text
    mj-section(background-color="#f1f1f1" padding="0")
        mj-column(padding="10px 20px")
            mj-image(padding="10px 0 0 0" align="left" width="118px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/logo.png")/
            mj-text(padding="20px 0" align="left" font-size="32px" line-height="32px" font-weight="400" color="#000000") Offrez un accès à la #[span(class="pc") culture] à tous vos bénéficiaires
            mj-text(padding="0" align="left" font-size="15px" line-height="100%" font-weight="600" color="#000000") Saviez-vous que le panier moyen en 2024 dédié aux activités culturelles des salariés français a atteint 320€ ?
            mj-text(padding="0" align="left" font-size="15px" line-height="100%" font-weight="400" color="#000000") Contribuez à simplifier l'accès à la dotation Culture pour le bien-être de vos équipes/bénéficiaires !
            mj-button(align="left") Demandez une demo&nbsp; #[i(class="bi bi-arrow-right" style="font-family:Bootstrap Icons;color:#ffffff;")]
        mj-column
            mj-image(padding="0" width="325px" fluid-on-mobile="true" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/col_02.jpg")/
    //- Body Arguments
    mj-section(background-color="#f1f1f1" padding="0 20px")
        mj-column
            mj-image(padding="0" width="610px" height="1px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider.png")/
            mj-text(mj-class="h2" padding-top="20px" padding-bottom="20px") Tous les #[span(class="pc") avantages Culture]
    //- Arguments 1
    mj-section(background-color="#f1f1f1" padding="0 20px")
        mj-column(width="23.5%")
            mj-text(mj-class="Parg-1") Le titre culture est #[span(class="pc") 100%] exonéré
        mj-column(width="2%")
            mj-image(mj-class="tv" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider_vertical.png")/
        mj-column(width="23.5%")
            mj-text(mj-class="Parg-1") Dotation possible #[span(class="pc") hors d'événement] URSSAF
        mj-column(width="2%")
            mj-image(mj-class="tv" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider_vertical.png")/
        mj-column(width="23.5%")
            mj-text(mj-class="Parg-1") #[span(class="pc") + de 9000 sites et boutiques] culturelles partout en France
        mj-column(width="2%")
            mj-image(mj-class="tv" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider_vertical.png")/
        mj-column(width="23.5%")
            mj-text(mj-class="Parg-1") la durée de validité du titre culture est de #[span(class="pc") 1 an]
    //- Ligne
    mj-section(background-color="#f1f1f1" padding="20px")
        mj-column
            mj-image(padding="0" width="610px" height="1px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider.png")/
    //- Arguments 2
    mj-section(background-color="#f1f1f1" padding="0 20px")
        mj-column(width="32%")
            mj-text(mj-class="Parg-2") Le titre est utilisable #[span(class="pc") 7 jours/7] avec votre carte UpOne
        mj-column(width="2%")
            mj-image(mj-class="tv" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider_vertical.png")/
        mj-column(width="32%")
            mj-text(mj-class="Parg-2") #[span(class="pc") Pas d'obligation de participation] de l'employé
        mj-column(width="2%")
            mj-image(mj-class="tv" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider_vertical.png")/
        mj-column(width="32%")
            mj-text(mj-class="Parg-2") #[span(class="pc") Pas de limite] de montant
    mj-section(background-color="#f1f1f1" padding="0 20px")
        mj-column
            mj-text(mj-class="h2" padding="20px 0 0 0") Convaincu par #[span(class="pc") le Titre Culture ?]
            mj-text(mj-class="h2" padding="0") Offrez 100% de plaisir à vos bénéficiaires !
            mj-button(align='center') Demandez un devis&nbsp; #[i(class="fa-solid fa-arrow-right" style="font-family:FontAwesome;color:#ffffff;")]
    mj-section(background-color="#f1f1f1" padding="10px 20px 20px 20px")
        mj-column
            mj-image(padding="0" width="610px" height="1px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider.png")/
    //- Argument 2
    mj-section(background-color="#f1f1f1" padding="0 20px" )
        mj-column(padding="0 40px")
            mj-text(mj-class="h2") UpOne, la #[span(class="pc") seule carte physique & virtuelle] pour dépenser tous les avantages
    mj-section(background-color="#f1f1f1" padding="0 20px")
        mj-column
            mj-image(width="177px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/Up_05.jpg" alt="")
        mj-column
            mj-image(width="177px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/Up_07.jpg" alt="")
        mj-column
            mj-image(width="177px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/Up_09.jpg" alt="")
    mj-section(background-color='#f1f1f1' padding="0 20px")
        mj-column
            mj-image(width="177px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/Up_14.jpg" alt="")
        mj-column
            mj-image(width="177px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/Up_17.jpg" alt="")/
        mj-column
            mj-image(width="177px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/Up_18.jpg" alt="")/
    mj-section(padding="0" background-color="#f1f1f1" background-url="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/back_22.jpg" background-size="cover" background-repeat="no-repeat")
        mj-column
            mj-button(align="center") Decouvrez maintenant&nbsp; #[i(class="bi bi-arrow-right" style="font-family:Bootstrap Icons;color:#ffffff;")]
            mj-image(align="center" padding="0" width="383px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/carte.png" alt="Cartes bancaires")
    mj-section(full-width="full-width" background-color="#ffffff" padding="10px 0 20px 0" )
        mj-column
            mj-text(mj-class="ps2" ) Ce message vous est adressé par Altares pour vous présenter les services de son client.
            mj-text(mj-class="ps2") Plus de détails sur l'envoi de cet email et nos engagements sont accessibles par ce lien.
            mj-text(mj-class="ps2") Si vous souhaitez stopper la réception des emails d'Altares pour ce client, suivez ce lien, ou la réception de tous nos envois, suivez cet autre lien.
        