extends templates/_layout
//- content
block content
    mj-section(full-width="full-width" background-color="#ffffff")
        mj-column
            mj-text(mj-class="ps1") Offrez un accès à la culture à tous vos salariés !
            mj-text(mj-class="ps1") Voir la version en ligne | Ajouter au carnet d'adresses | Retirer de la liste de diffusion contact@ecosup-sante.fr
    
    
        