extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(background-color="#f1f1f1" padding="0")
        mj-column(padding="10px")
            mj-image(padding="10px 0 0 0" align="left" width="118px" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/logo.png")/
            mj-text(padding="20px 0" align="left" font-size="32px" line-height="100%" font-weight="400" color="#000000") Offrez un accès à la #[span(style="color:#e69435;font-weight:600;") culture] à tous vos bénéficiaires
            mj-text(padding="0" align="left" font-size="15px" line-height="100%" font-weight="600" color="#000000") Saviez-vous que le panier moyen en 2024 dédié aux activités culturelles des salariés français a atteint 320€ ?
            mj-text(padding="0" align="left" font-size="15px" line-height="100%" font-weight="400" color="#000000") Contribuez à simplifier l'accès à la dotation Culture pour le bien-être de vos équipes/bénéficiaires !
            mj-button(align="left") Demandez une demo&nbsp; #[i(class="fa-solid fa-arrow-right" style="color:#ffffff;")]
        mj-column
            mj-image(padding="0" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/col_02.jpg")/
    mj-section(background-color="#f1f1f1" padding="0")
        mj-column
            mj-image(padding="0" src="https://op.ed-manleads.com/clt-su/upone/assets/2024-07/divider.png")/
            mj-text Tous les avantages Culture
    mj-section
        mj-column(width="25%")
            mj-text Le titre culture est 100% exonéré
        mj-column(width="25%")
            mj-text Dotation possible hors d'événement urssaf
        mj-column(width="25%")
            mj-text + de 9000 sites et boutiques culturelles partout en France
        mj-column(width="25%")
            mj-text la durée de validité du titre culture est de 1 an
    mj-section
        mj-column(width="33,333%")
            mj-text Le titre est utilisable 7 jours/7 avec votre carte UpOne
        mj-column(width="33,333%")
            mj-text Pas d'obligation de participation de l'employé
        mj-column(width="33,333%")
            mj-text Pas de limite de montant
    mj-section
        mj-text Convaincu par le Titre Culture ?
        mj-text Offrez 100% de plaisir à vos bénéficiaires !
        mj-button(align='center') Demandez un devis&nbsp; #[i(class="fa-solid fa-arrow-right" style="color:#ffffff;")]